.services {
    // background-color: gray;
    border: $color-spfir 1px solid;
    border-radius: 15px;
    padding: 25px;
    &-header {
        // background-color: greenyellow;
        display: flex;
        align-items: center;
        justify-content: center;
        &-left {
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 70%;
            &__text1 {
                align-self: center;
                color: $color-spfir;
                & h2 {
                    text-align: center;
                    // @media screen and (max-width: $smart) {
                    //     font-size: 24px;
                    // }
                }
                & h4 {
                    margin-top: 2%;
                    text-align: center;
                    // @media screen and (max-width: $smart) {
                    //     font-size: 20px;
                    // }
                }
            }
            &__text2 {
                margin-top: 5%;
            }
            & ul {
                // padding-left: 10px;
                margin: 30px 0 10px 0;
                // @media screen and (max-width: $smart) {
                //     font-size: 18px;
                // }
                & li {
                    position: relative;
                    margin: 2% 0 0 5%;
                    &::before {
                        position: absolute;
                        top: 5px;
                        left: -25px;
                        color: $color-spfir;
                        // width: 5px;
                        // height: 5px;
                        // background-color: $color-spfir;
                        // border-radius: 50%;
                        content: "*";
                    }
                }
            }
            @media screen and (max-width: $laptop) {
                width: 100%;
            }

        }
        &-right {
            width: 10%;
            text-align: center;
            // background-color: yellow;
            margin-left: 10%;
            &__img {
                width: 40%;
            }
            @media screen and (max-width: $laptop) {
                display: none;
            }
    
    
        }
    }
    &-content {
        margin-top: 5%;
        // background-color: orange;
        &-header {
            // background-color: blue;
            display: flex;
            align-items: center;
            & h3 {
                color: $color-spfir;
            }
            &__button {
                background-color: white;
                background-image: url(../img/icons/up-arrow.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-clip: padding-box;
                background-size: cover;
                margin-left: 15px;
                padding: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                &_on_js {
                    transform: rotate(180deg);
                }
        
            }
        }
        &-descripcion {
            background-color: $color-pink;
            margin: 35px;
            // border: $color-spfir 2px solid;
            border-radius: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            @media screen and (max-width: $laptop) {
                padding: 2%;
                margin:  2% 0 2% 0;
            }

            &__text1 {
                width: 70%;
                align-self: center;
                text-align: center;
                & div {
                    margin-top: 5%;
                    font-style: italic;
                }
            }
            &__text2 {
                margin-top: 40px;
                & ul {
                    margin: 15px 0 0 35px;
                    & li {
                        margin-top: 10px;
                        & span {
                            color: $color-spfir;
                        }
                    }
                }
            }
            &__text3 {
                margin-top: 20px;
                & ul {
                    margin: 15px 0 0 35px;
                    & li {
                        margin-top: 10px;
                        & span {
                            color: $color-spfir;
                        }
                    }
                }
            }
            &__text4 {
                margin-top: 40px;
                // align-self: center;
                & ul {
                    // padding-left: 10px;
                    margin: 30px 0 15px 15px;
                    & li {
                        position: relative;
                        margin: 2% 0 0 5%;
                        &::before {
                            position: absolute;
                            top: 9px;
                            left: -20px;
                            color: $color-spfir;
                            width: 10px;
                            height: 10px;
                            background-color: $color-spfir;
                            border-radius: 50%;
                            content: " ";
                        }
                    }
                }
    
            }
            &__text5 {
                margin-top: 30px;
                font-style: italic;
                align-self: center;
            }
            &__text6 {
                margin-top: 30px;
                font-style: italic;
                align-self: center;
            }
            &__text7 {
                margin-top: 30px;
                font-style: italic;
                align-self: center;
            }
            &__text8 {
                margin-top: 30px;
                font-style: italic;
                align-self: center;
            }
            &__text9 {
                margin-top: 30px;
            }
            &__text10 { 
                
            }
            &__text11 {
            }
            &__text12 {
                padding: 2%;
                box-shadow: 10px 10px 20px 5px $color-spfir;
                border: 1px solid $color-spfir;
                border-radius: 15px;
                margin-top: 30px;
            }
        }
        &-price {
            position: relative;
            margin-top: 50px;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            & h3 {
                text-align: center;
            }
            &__text1 {
                margin-top: 20px;
                color: rgb(255, 145, 145);
                text-decoration: line-through;
                font-size: 30px;
                font-weight: 700;
                @media screen and (max-width: $smart) {
                    font-size: 24px;
                }
            }
            &__text2 {
                margin-top: 20px;
                color: $color-red-purple;
                font-size: 34px;
                font-weight: 700;
                @media screen and (max-width: $smart) {
                    font-size: 24px;
                }

            }
            &__text3 {
                margin-top: 20px;
                & span {
                    font-weight: 900;
                }
            }
            &__text4 {
                margin-top: 20px;
                font-size: 34px;
                @media screen and (max-width: $smart) {
                    font-size: 24px;
                }

            }
            &__img {
                position: absolute;
                top: 14%;
                right: -5%;
                width: 120px;
            }
        }
    }
    &-pay {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        // background-color: #BFE2FF;
        @media screen and (max-width: $laptop) {
            flex-direction: column;
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            // background-color: aquamarine;
            width: 100%;
            &__img {
                width: 40%;
                margin-top: 5%;
                text-align: center;
                // background-color: #BFE2FF;
            }

            &__text {
                margin: 5% 5%;
                text-align: center;
            }
        }

        &-button {
            font-size: 28px;
            line-height: 20px;
            padding: 12px 30px;
            color: #FFF;
            font-weight: 700;
            background-color: $color-red-purple;
            cursor: pointer;
            border: 2px solid #BFE2FF;
            border-radius: 15px;
            outline: 1px solid;
            outline-color: $color-spfir;
            outline-offset: 0px;
            text-shadow: none;
            transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);  
            &:hover {
                box-shadow:  0 0 20px $color-red-purple;
                color: #FFF;
            }
            &:active {
                box-shadow:  0 1px 20px rgba(0, 0, 0, 0.2);
                outline-color: rgba(255, 255, 255, 0);
                outline-offset: 15px;
            }
            @media screen and (max-width: $smart) {
                font-size: 18px;
            }
        
        }
    

    }
}

