.services#services
    .services-header 
        .services-header-left 
            .services-header-left__text1 
                h2 Интенсив - Практическое занятие:
                h4 Пошаговая инструкция как планировать и вести бюджет 
            ul.services-header-left__text2 Практическое занятие, на котором вы узнаете:
                li Как составить личный бюджет, что нужно учесть, а чем можно пренебречь
                li Как планировать бюджет, чтобы быть всегда в плюсе
                li Что денег у вас больше чем вам кажется
                li Планировать отдых на Сейшельских островах и отправится туда это одно и тоже
                li Все возможно благодаря финансовому планированию. Ставить конкретные цели и добиваться их будет значительно проще и быстрее, чем не вести бюджет и идти вслепую. 
        .services-header-right 
            img(class="services-header-right__img" src="img/other/ПРАКТИК.png", alt="Практик")
            //- .services-header__right_text ПРАКТИК
    .services-content
        .services-content-header 
            .services-content-header__text
                h3 ПРОГРАММА ИНТЕНСИВА
            button.services-content-header__button.services-content-header__button_js.noSelection
                //- .block-gorisontal
                //- .block-vertical
        .services-content-descripcion.services-content-descripcion_js
            .services-content-descripcion__text1
                h4 Практическое занятие в форме самостоятельного изучения материла 
                div Обучение начнется сразу после оплаты
            .services-content-descripcion__text2
                h5 Часть первая: Личные финансы
                ul.list 
                    li <span>1.</span> Финансовое планирование
                    li <span>2.</span> Определяем статьи доходов и расходов
                    li <span>3.</span> Записываем все доходы и расходы
                    li <span>4.</span> Ставим цели и формируем бюджет
            .services-content-descripcion__text3
                h5 Часть вторая: Активы и пассивы
                ul.list 
                    li <span>1.</span> Что у меня есть и кому я что должен
                    li <span>2.</span> Зачем при формировании бюджета учитывать активы и пассивы
                    li <span>3.</span> Еще немного о пассивах
                    li <span>4.</span> Как с помощью активов создавать капитал
            .services-content-descripcion__text4
                h5 БОНУСЫ
                ul.list 
                    li Таблица для заполнения «Бюджет 365» (Таблица EXCEL)
                    li Еженедельник для печати. Учет доходов и расходов "Финансы в порядке".
                    li Обратная связь.
            .services-content-descripcion__text12 Цель этого практического занятия - показать вам всю важность ведения бюджета. Анализировать, планировать и ставить перед собой финансовые цели и досрочно их выполнять. Только так и никак иначе. Планирование экономит ваше время, помогает в достижении целей.
            .services-content-price
                h3 СТОИМОСТЬ ИНТЕНСИВА 
                .services-content-price__text1 5500 рублей
                .services-content-price__text2 2750 рублей
                .services-content-price__text3 <span>+</span> Бесконечный доступ к материалам 
                //- button.services-content-price__text4 ОПЛАТИТЬ 
                //- <iframe src="https://yoomoney.ru/quickpay/button-widget?targets=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D0%B4%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%B0%20%D0%BA%20%D1%81%D0%BA%D0%B0%D1%87%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D1%8E%20%D1%84%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2&default-sum=20&button-text=11&yoomoney-payment-type=on&button-size=m&button-color=orange&phone=on&successURL=https%3A%2F%2Fpikabu.ru%2Fbest&quickpay=small&account=4100117803334382&" width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                //- <iframe src="https://yoomoney.ru/quickpay/button-widget?targets=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D0%B4%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%B0%20%D0%BA%20%D1%81%D0%BA%D0%B0%D1%87%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D1%8E%20%D1%84%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2&default-sum=20&button-text=11&any-card-payment-type=on&button-size=m&button-color=orange&phone=on&successURL=https%3A%2F%2Fpikabu.ru%2Fbest&quickpay=small&account=4100117803334382&" width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                img(class="services-content-price__img" src="img/other/СПЕЦПРЕДЛОЖЕНИЕ.png", alt="Спецпредложение")
            .services-pay
                .services-pay-content
                    img(class="services-pay-content__img" src="img/other/umany.png", alt="Лого Юмани")
                    .services-pay-content__text Оплатить через кошелек ЮMoney
                    <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
                        <input type="hidden" name="paymentType" value="PC" >
                        <input type="hidden" name="receiver" value="4100117803334382">
                        <input type="hidden" name="label" value="$order_id">
                        <input type="hidden" name="quickpay-form" value="donate">
                        <input type="hidden" name="targets" value="транзакция {order_id} Оплата доступа к скачиванию файлов">
                        <input type="hidden" name="sum" value="2750" data-type="number">
                        <input type="hidden" name="need-fio" value="false">
                        <input type="hidden" name="need-email" value="true">
                        <input type="hidden" name="need-phone" value="false">
                        <input type="hidden" name="need-address" value="false">
                        <input type="hidden" name="successURL" value="https://finansyvdelo.ru/unloading.html">
                        <input type="hidden" name="referer" value="http://localhost:3002/">
                        //- <label><input type="radio" name="paymentType" value="PC">ЮMoney</label>
                        //- <label><input type="radio" name="paymentType" value="AC">Банковской картой</label>
                        <input class="services-pay-button" type="submit" value="ОПЛАТИТЬ">
                    </form>
                .services-pay-content
                    img(class="services-pay-content__img" src="img/other/BC.png", alt="Банковские карты")
                    .services-pay-content__text Оплатить с помощью банковской карты
                    <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
                        <input type="hidden" name="paymentType" value="AC" >
                        <input type="hidden" name="receiver" value="4100117803334382">
                        <input type="hidden" name="label" value="$order_id">
                        <input type="hidden" name="quickpay-form" value="donate">
                        <input type="hidden" name="targets" value="транзакция {order_id} Оплата доступа к скачиванию файлов">
                        <input type="hidden" name="sum" value="2750" data-type="number">
                        <input type="hidden" name="need-fio" value="false">
                        <input type="hidden" name="need-email" value="true">
                        <input type="hidden" name="need-phone" value="false">
                        <input type="hidden" name="need-address" value="false">
                        <input type="hidden" name="successURL" value="https://finansyvdelo.ru/unloading.html">
                        //- <label><input type="radio" name="paymentType" value="PC">ЮMoney</label>
                        //- <label><input type="radio" name="paymentType" value="AC">Банковской картой</label>
                        <input class="services-pay-button" type="submit" value="ОПЛАТИТЬ">
                    </form>
//- .services-content
//-     .services-content__header Менторство
//-     .services-content__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem vel totam enim error, cumque beatae quam, repellat possimus eum voluptatibus facilis assumenda illum recusandae, officiis impedit sed quod esse?
//-     .services-content__price 15 000 <span>рублей</span> (дать выбор? скидку за подписку телеграмм?)
//-     button.services-content__button.noSelection ХОЧУ МЕНТОРСТВО
