.presentation
    .presentation-left
        .presentation-left-text
            .presentation-left-text__header
                //- div Анна 
                h1 Консультант по личным финансам <br> и финансовому планированию.
                h5 Я, Анна Абакумовская, <br> уже много лет занимаюсь семейными бюджетами и Вам я тоже смогу помочь. <br> Для удобства прошу обращаться ко мне по имени, Анна. 
            .presentation-left-text__list 
                ul.list 
                    li Моя цель – научить управлять Вас своими финансами.
                    li Планирование и управление бюджетом - это все про отношение к деньгам.
                    li Научиться управлять деньгами может каждый. А еще планировать, копить и приумножать.
            //- .content-text__footer И, благодаря планированию, вы сможете ставить перед собой финасовые цели и реализовывать их быстрее.
        button.button.presentation-left-button.noSelection 
            a(href="#services") ПЕРЕЙТИ К ПРОДУКТАМ!
    .presentation-right.noSelection
        img(src="img/foto/СКнигой1.png", alt="Мое фото")
