.presentation {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // height: 450px;
    // background-color: gold;
    @media screen and (max-width: $laptop) {
        flex-direction: column;
        align-items: center;
    }

    &-left {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // background-color: $color-burgundy;
        @media screen and (max-width: $laptop) {
            width: 90%;
        }
        &-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // padding: 10px;
            // border: $color-spfir 2px solid;
            // border-radius: 15px;
            // background-color: gold;
            width: 100%;
            height: 100%;

            &__header {
                text-align: center;
                color: $color-spfir;
                // & div {
                //     font-weight: 700;
                //     font-size: 34px;
                // }
                & h1 {
                    // @media screen and (max-width: $smart) {
                    //     font-size: 20px;
                    // }
                }
                & h5 {
                    margin-top: 5%;
                    // @media screen and (max-width: $smart) {
                    //     font-size: 20px;
                    // }
                }

            }
            &__list {

            }
            & ul {
                padding-left: 20px;
                margin: 10% 0 0px 0;
                & li {
                    position: relative;
                    margin: 2% 0;
                    // @media screen and (max-width: $smart) {
                    //     font-size: 18px;
                    // }
                    &::before {
                        position: absolute;
                        top: 9px;
                        left: -25px;
                        width: 10px;
                        height: 10px;
                        background-color: $color-spfir;
                        border-radius: 50%;
                        content: " ";
                    }
                }
            }
        }
        &-button {
            margin-top: 5%;
        }
    }
    &-right {
        height: 100%;
        display: flex;
        align-self: flex-end;
        height: 450px;
        margin: 0 0 0 5%;
        // background-color: $color-burgundy;
        @media screen and (max-width: $laptop) {
            align-self: center;
            margin-top: 5%;
        }
    
        & img {
            height: 100%;
        }
    }
}

