.feedback
    .slider-feedback.noSelection 
        .slider-feedback-wrapper
            .slider-feedback__shadou_left
            .slider-feedback__shadou_right
            .slider-feedback__header ОТЗЫВЫ О НАС
            .swiper.swiper-feedback.swiper-feedback_js
                .swiper-wrapper
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв1.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв2.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв3.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв1.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв2.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв3.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв1.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв2.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв3.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв1.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв2.jpg', alt="отзыв1")
                    .swiper-slide
                        img( class="swiper-feedback__img" src='img/feedback/отзыв3.jpg', alt="отзыв1")
                //- .swiper-pagination.swiper-right-pagination
                button.swiper-button-prev
                button.swiper-button-next
                //- .swiper-scrollbar


