.slider-feedback {
    // background-color: $color-pink-transparent;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &-wrapper {
        position: relative;
        // right: 0;
        // top: 0;
        width: 900px;
        height: auto;
        overflow: hidden;
        // display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // background-color: $color-pink-transparent;
        padding: 0 200px ;
        // @media (max-width: 1240px) {
        //     width: 95vw;
        // }
        // @media(max-width: 1000px) {
        //     height: 90vmin;
        // }
    }
    &__shadou_left {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 100%;
        background-color: $color-pink;
        box-shadow: 0px 0px 10px 10px $color-pink-transparent,
        0px 15px 40px 40px $color-pink-transparent,
        0px 35px 80px 80px $color-pink-transparent;
        z-index: 2;
    }
    &__shadou_right {
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
        background-color: $color-pink;
        box-shadow: 0px 0px 10px 10px $color-pink-transparent,
        0px -15px 40px 40px $color-pink-transparent,
        0px -35px 80px 80px $color-pink-transparent;
        z-index: 2;
    }
    &__header {
        font-size: 24px;
        line-height: 20px;
        font-weight: bold;
        text-align: center;
        // background-color: $color-red-purple;
        margin: 4% 0;

    }
}

.swiper {
    &-feedback {
        width: 500px;
        height: auto;
    }
    &-wrapper { 
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &-slide{
        width: 500px;
        & img {
            width:500px;
            height: auto;
        }
    }
}
.swiper-slide-active {
    transition: 0.5s;

    &:hover {
        transform: scale(1.2);
    }
}
.swiper-button-prev {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 200px;
    width: 50px;
    height: 50px;
    background-image: url(../img/other/arrowaNaw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(180deg);
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);  
    &:hover {
        box-shadow: inset 0 0 10px #BFE2FF;
        outline-offset: 0px;

    }
    &:active {
        box-shadow: none;
        text-shadow: none;
    }
}
.swiper-button-next {
    position: absolute;
    top: 3px;
    right: 200px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url(../img/other/arrowaNaw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);  
    &:hover {
        box-shadow: inset 0 0 10px #BFE2FF;
        outline-offset: 0px;

    }
    &:active {
        box-shadow: none;
        text-shadow: none;
    }
}

