

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // background-color: gold;
    padding: 0px 60px 0 60px;
    width: 90%;
    margin: 0 auto;
    @media screen and (max-width: $laptop) {
        padding: 0%;
        width: 100%;

    }

    &-header {
        align-self: center;
        color: $color-spfir;
    }
    &-list {
        // background-color: palevioletred;
        width: 100%;
        margin-top: 5%;
        & li {
            // background-color: $color-red-purple;
            position: relative;
            margin: 1% 0;
            padding: 15px;
            // &::before {
            //     position: absolute;
            //     // top: 9px;
            //     left: -25px;
            //     content: "<>";
            @media screen and (max-width: $laptop) {
                padding: 5%;
            }

        }
    }
    &-li__wrapper {
        display: flex;
        flex-direction: row ;
        align-items: center;
        justify-content: space-between;
        & h6 {
            padding: 0 5% 0 0;
        }
        &_js {
            border: 1px solid $color-spfir;
            border-radius: 15px;
        }
    }
    &-li__button {
        background-color: white;
        background-image: url(../img/icons/up-arrow.svg);

        background-repeat: no-repeat;
        background-position: center;
        background-clip: padding-box;
        background-size: cover;
        // overflow: hidden;
        padding: 0;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        @media screen and (max-width: $smart) {
            min-width: 30px;
            min-height: 30px;
        }

        // border: 2px solid #BFE2FF;
        // outline: 1px solid;
        // outline-color: $color-spfir;
        // outline-offset: 0px;
        // text-shadow: none;
        // // background-color: gold;
        // transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);  
        // cursor: pointer;
        // transform: rotate(180deg);
        // transition: 1s;
        // &:hover {
        //     box-shadow: inset 0 0 20px #BFE2FF;
        //     outline-color: rgba(255, 255, 255, 0);
        //     outline-offset: 15px;
        //     color: #FFF;
        // }
        // &:active {
        //     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        //     text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        // }
        &_on_js {
            transform: rotate(180deg);
        }
    }
    &-li__text {
        margin: 3% 0 3% 3%;
        // transform: skew(90deg, 90deg);
        transform-origin: top left;
        perspective: 10000px;
        transition: all 0.5s ease;
    }
    &-li__text_js {
        // transform: skew(0deg, 0deg);
    }
    &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 5%;
        & h4 {

        }
        & div {
            margin-top: 4%;
        }
        &__button {
            margin-top: 10%;
            font-size: 28px;
        }
    }
}

