.questions
    .questions-header
        h2 Ответы на частые вопросы
    ul.questions-list 
        li
            .questions-li__wrapper 
                h6.questions-li__question В какой форме проходит обучение?
                button.questions-li__button.questions-li__button_on_js.noSelection 
            .questions-li__text.questions-li__text_js.displayNone-js Обучение проходит в форме самостоятельного обучения. После оплаты вы попадете в чат-бот где получите все материалы по интенсиву. На следующий день, тот же бот отправит вам приглашение в виде ссылки в другой канал, где вы в течении 2 часов сможете задать вопросы по интенсиву. 
        li
            .questions-li__wrapper 
                h6.questions-li__question Сколько времени стоит выделить под интенсив?
                button.questions-li__button.questions-li__button_on_js.noSelection 
            .questions-li__text.questions-li__text_js.displayNone-js Все файлы вы получите в течении часа после совершения оплаты. <br> На прочтение и изучение всех материалов вам будет достаточно выделить 48 часов. 
        li
            .questions-li__wrapper 
                h6.questions-li__question Поможет ли интенсив вести семейный бюджет?
                button.questions-li__button.questions-li__button_on_js.noSelection 
            .questions-li__text.questions-li__text_js.displayNone-js Практикум создавался, не только для тех, кто не понаслышке знаком с ведением бюджета и хочет узнать для себя что-то новое, но и для тех, кто никогда раньше не вел бюджет. 
        li
            .questions-li__wrapper 
                h6.questions-li__question Есть ли обратная связь на практическом интенсиве?
                button.questions-li__button.questions-li__button_on_js.noSelection 
            .questions-li__text.questions-li__text_js.displayNone-js Обратная связь есть, это бонус, который получают те, кто оплатит практикум сразу.
    .questions-footer
        h3 Остались вопросы?
        //- div Напиши в Отдел заботы
        button.questions-footer__button.noSelection
            a(href="https://t.me/finansyvdelo_help" target="_blank" rel="nofollow noopener noreferrer")  Напиши в отдел заботы
