.conviction {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    // background-color: gold;
    @media screen and (max-width: $laptop) {
        flex-direction: column;
        align-items: center;
    }
    &-left {
        width: 55%;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // background-color: $color-burgundy;
        @media screen and (max-width: $laptop) {
            width: 90%;
            height: auto;
        }
        &-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // padding: 10px;
            // border: $color-spfir 2px solid;
            // border-radius: 15px;
            // background-color: gold;
            width: 100%;
            height: 100%;

            &__header {
                text-align: center;
                color: $color-spfir;
                & div {
                    margin-top: 2%;
                }
            }
            & ul {
                padding-left: 20px;
                margin: 10% 0 0px 0;
                & li {
                    position: relative;
                    margin: 2% 0 0 2%;
                    &::before {
                        position: absolute;
                        top: -4px;
                        left: -30px;
                        color: $color-spfir;
                        font-weight: 900;
                        font-size: 28px;
                        // border: 1px solid $color-spfir;
                        // width: 40px;
                        // height: 40px;
                        // background-color: $color-spfir;
                        // border-radius: 50%;
                        content: "?";
                    }
                    &::after {
                        position: absolute;
                        top: -5px;
                        left: -41px;
                        color: $color-spfir;
                        font-weight: 900;
                        font-size: 28px;
                        border: 3px solid $color-spfir;
                        width: 30px;
                        height: 30px;
                        // background-color: $color-spfir;
                        border-radius: 50%;
                        content: " ";
                    }

                }
            }
        }
    }
    &-right {
        height: 450px;
        display: flex;
        align-self: flex-end;
        margin: 0 0 0 5%;
        @media screen and (max-width: $laptop) {
            margin-top: 5%;
            align-self: center;
        }
        & img {
            height: 100%;
        }
    }
}
