.conviction.commonToDouble
    .conviction-left
        .conviction-left-text
            .conviction-left-text__header
                h2 Интенсив по планированию
                h2 и управлению бюджетом 
                div создан <span>для вас если:</span>
            .conviction-left-text__list 
                ul.list 
                    li Деньги улетают на ветер, стоит им только у вас появиться.
                    li В конце каждого месяца понимаете, что денег у вас не осталось.
                    li Вы живете от зарплаты до зарплаты.
        //- button.button.content-button.noSelection 
        //-     a(href="#services") ПЕРЕЙТИ К ПРОДУКТАМ!
    .conviction-right.noSelection
        img(src="img/foto/Прямой.png", alt="Мое фото")
