.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    &-header {
        color: $color-spfir;
        // background-color: $color-gray;
    }
    &-content {
        margin-top: 2%;
        display: flex;
        align-items: stretch ;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: $laptop) {
            flex-wrap: nowrap;
            align-items: center ;
            flex-direction: column;
        }
    
        &__text {
            margin-top: 2%;
            border: 1px solid $color-spfir;
            border-radius: 15px;
            max-width: 49%;
            min-height: 100%;
            padding: 2%;
            box-shadow: 10px 10px 20px 5px $color-spfir;
            overflow: hidden;
    
            &:nth-child(even ) {
                text-align: end;
                // flex-grow: 2;
                @media screen and (max-width: $laptop) {
                    text-align: center;
                }
            }
            @media screen and (max-width: $laptop) {
                max-width: 90%;
                padding: 5%;
                margin-top: 7%;
                text-align: center;

            }

        }
    }
}