.description
    .description-header
        h2 Чему научитесь.
    .description-content
        .description-content__text Вести учет своих доходов и расходов. Поймете куда уходят деньги и, главное, как остановить этот процесс.
        .description-content__text Анализировать, планировать, управлять. Сразу начнёте внедрять полученные знания.
        .description-content__text Перестанете все время переживать из-за денег. Выработаете уверенность в себе и завтрашнем дне. 
        .description-content__text Правильно ставить финансовые цели. Ставить ясные, конкретные и измеримые финансовые цели.
