


.header {
    background-color: $color-pink-transparent;
    // font-size: 14px;

    &__inner {
        display: flex;
        margin: 0px 20px;
        padding: 7px 0;
        align-items: center;
        justify-content: space-between;
        // background-color: $color-red-purple;
        @media screen and (max-width: $smart) {
            flex-direction: column;
        }

    }
    &-logo {
        & img {
            width: 300px;
        }
    }
    &-nav {
        // background-color: $color-burgundy;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 2%;
        width: 40%;
        @media screen and (max-width: $smart) {
            width: 90%;
            margin: 2% 0 0 0%;
            justify-content: center;
        }

        &__container {
            // display: flex;
            // align-items: flex-start;
            // justify-content: space-between;
        }
        & div {
            font-size: 26px;
            margin: 0 ;
            // background-color: $color-spfir;
        }
        & a {
            text-decoration: none;
            color: $color-spfir;
            // background-color: $color-gray;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            @media screen and (max-width: $smart) {
                justify-content: center;
            }
    
        }

        // & h4 {
        //     font-size: 20px;
        //     @media screen and (max-width: $laptop) {
        //         display: none;
        //     }

        // }
        // & button {
        //     margin: 0 0 0 10px;
        //     & a {
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-between;
        //         & div {
        //             margin-left: 5%;
        //             font-size: 26px;
        //         }
        //     }
        // }
        & img {
            width: 50px;
            height: auto;
            margin:0 5%;
        }
    }
}
