header.header
    .container
        .header__inner
            .header-logo.noSelection
                img(src="img/logo/LogoFvD.png", alt="Логотип")
            .header-nav
                a(href="https://t.me/tolstosymRU" target="_blank" rel="nofollow noopener noreferrer")
                    img(src="img/icons/telegram2.png", alt="Телеграм")
                    .header-nav__wrapper
                        div Подпишись на
                        div 
                            b @tolstosymRU

                //- div.header-nav__container
                //-     div Telegram
                //-     a(href="https://t.me/finansyvdelo" target="_blank" rel="nofollow noopener noreferrer") @t.me/finansyvdelo
                    //- div @finansyvdelo
                //- a(href="unloading.html" )  Загрузки
                //- a(href="index.html" )  Главная
                //- h4 Заходи к нам в
                //- div Напиши в Отдел заботы
                //- a(href="https://t.me/finansyvdelo" target="_blank" rel="nofollow noopener noreferrer")
                //-     img(src="img/icons/telegram2.png", alt="Телеграм")
                //- button.noSelection
                //-     a(href="https://t.me/finansyvdelo" target="_blank" rel="nofollow noopener noreferrer")
                //-         img(src="img/icons/telegram2.png", alt="Телеграм")
                //-         div Telegram
