.gift {
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &-header {
        align-self: center;
        text-align: center;
        color: $color-spfir;
        @media screen and (max-width: $laptop) {
            padding: 3%;
        }
    }
    &-conversation {
        width: 500px;
        height: 300px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: $color-gray;
        margin-top: 5%;
        @media screen and (max-width: $laptop) {
            width: 400px;
            height: 230px;
            // margin-top: 5%px;
        }
        @media screen and (max-width: $smart) {
            display: none;
        }

    
        &__fon {
            position: absolute;
            top: 0;
            left: 0;
            width: 500px;
            height: 300px;
            background-image: url(../img/other/Пузырь.png);
            background-repeat: no-repeat;
            background-position: center;
            background-clip: padding-box;
            background-size: contain;
            @media screen and (max-width: $laptop) {
                width: 400px;
                height: 250px;
                // margin-top: 5%px;
            }
        }
    }
    &-phrase {
        margin-top: 1%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 120px ;
        font-size: 30px;
        text-align: center;
        top: 0;
        left: 0;
        width: 500px;
        height: 200px;
        @media screen and (max-width: $laptop) {
            width: 400px;
            height: 150px;
            padding: 30px 100px ;
            font-size: 24px;
            // background-color: $color-red-purple;
        }

    }
    &-content {
        margin-top: -5%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: gold;
        @media screen and (max-width: $smart) {
            margin-top: 5%;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }
    &-conteiner {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: $color-red-purple;
        &:nth-child(odd) {
            margin-right: 15%;
        }
    }
    &__img {
        &:hover {
            animation-name: aTremblingGift;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
            animation-duration: alternate-reverse;
        }
    }
}
@keyframes  aTremblingGift {
    0% {
        rotate: 0deg;
        transform-origin: right bottom;
    }
    30% {
        rotate: 10deg;
        transform-origin: left bottom;
        // transform: translateY(-3%);
    }
    70% {
        rotate: -10deg;
        transform-origin: right bottom;
        // transform: translateY(-3%);
    }
    100% {
        rotate: 0;
        transform-origin: right bottom;
    }
}

