.gift
    .gift-wrapper 
        .gift-header
            h2 Какой подарок выберешь ты?
        .gift-conversation
            .gift-conversation__fon
            .gift-phrase Меня возьми!
            .gift-phrase.displayNone-js Здесь очередь так то.  
            .gift-phrase.displayNone-js И с чего ты в ней первый? 
            .gift-phrase.displayNone-js Я здесь со вчера стою!  
            .gift-phrase.displayNone-js По твоему помятому виду, я бы сказал, что дольше.
            .gift-phrase.displayNone-js Хамло, все равно выберут меня.
            .gift-phrase.displayNone-js Обоснуй.
            .gift-phrase.displayNone-js Я красивее.
            .gift-phrase.displayNone-js Тогда я больше!
            .gift-phrase.displayNone-js Главное не размер!
            .gift-phrase.displayNone-js А что, по твоему, главное? Золотистая обертка?
            .gift-phrase.displayNone-js Ах так? Красно-белый сейчас вообще не в моде!
            .gift-phrase.displayNone-js На личности не переходим!
            .gift-phrase.displayNone-js Хорошо, давай по содержимому... 
            .gift-phrase.displayNone-js А, давай, во мне таблица полезная Excel.
            .gift-phrase.displayNone-js А во мне мотивация!
            .gift-phrase.displayNone-js Это что ж получается, мы оба нужны!
            .gift-phrase.displayNone-js Ну да! ЭЙ ТЫ! Бери нас обоих!
        .gift-content.noSelection 
            .gift-conteiner.gift-conteiner__first
                a(href="files/Таблица для заполнения._Бюджет 365 (упрощенная).xlsx" download="" title="Подарок")
                    img( class="gift__img", src="img/other/gift1.png", alt="Подарок")
            .gift-conteiner.gift__conteiner__next
                a(href="files/Правила управления личным бюджетом.pdf" download="" title="Подарок")
                    img( class="gift__img", src="img/other/gift2.png", alt="Подарок")
        //- .gift-link.noSelection 
        //-     <a href="https://t.me/test235689" target="_blank" rel="nofollow noopener noreferrer"> 
        //-         button Мы есть и в Telegram </a>

