.unloading {
    // background-color: gray;
    // border: $color-spfir 1px solid;
    // border-radius: 15px;
    padding: 25px;
    &-header {
        // background-color: greenyellow;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $color-spfir;
        & h5 {
            margin: 5% 0;
            @media screen and (max-width: $laptop) {
                font-size: 20px;
            }
        }
        & div {
            font-size: 16px;
            color: #000;
        }
        @media screen and (max-width: $laptop) {
            width: 100%;
        }
    }
    &-content {
        // margin-top: 5%;
        // background-color: orange;
        &-conteiner {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-top: 5%;
            border: $color-spfir 1px solid;
            border-radius: 15px;
            padding: 3%;
            @media screen and (max-width: $smart) {
                flex-direction: column;
            }
            & a {
                color: $color-spfir;
                text-decoration: none;
                width: 40%;
                text-align: center;
                @media screen and (max-width: $smart) {
                    width: 90%;
                }
                &:first-child {
                    margin-right: 5%;
                    // background-color: $color-burgundy;
                    @media screen and (max-width: $smart) {
                        margin: 0 0 5% 0;
                    }
                }
                & img {
                    height: 100px;
                    border-radius: 10px;
                }
            }
            & h4 {
                color: $color-spfir;
                width: 40%;
                text-align: center;
                margin-right: 5%;
                font-size: 23px;
                @media screen and (max-width: $smart) {
                    width: 90%;
                    margin: 0 0 5% 0;
                }
            }
            &__wrapper {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: $color-burgundy;
                @media screen and (max-width: $smart) {
                    width: 90%;
                }
            }
            &__button {
                & a {
                font-size: 26px;
                color: white;
                }
            }

        }
    }
}

