.unloading
    .unloading-header 
        h2 Браво!
        h5 Вы получаете возможность скачать файлы для контроля и планирования своего бюджета, а так же подробную инструкцию к ним!
        div Что бы скачать файл кликните на его название или картинку рядом.
    .unloading-content
        .unloading-content-conteiner.noSelection 
            a(href="files/Таблица для заполнения._Бюджет 365 (полная).xlsx" download="" title="Бюджет365") Бюджет365 (полный)
            a(href="files/Таблица для заполнения._Бюджет 365 (полная).xlsx" download="" title="Бюджет365")
                img( class="unloading__img", src="img/unloadingPage/365.jpg", alt="Бюджет 365")
        .unloading-content-conteiner.noSelection 
            a(href="files/Практик.pdf" download="" title="Курс ПРАКТИК с инструкцией к Бюджету365") Курс ПРАКТИК с инструкцией к Бюджету365
            a(href="files/Практик.pdf" download="" title="Курс ПРАКТИК с инструкцией к Бюджету365")
                img( class="unloading__img", src="img/unloadingPage/Инструкция.jpg", alt="Курс ПРАКТИК с инструкцией к Бюджету365")
        .unloading-content-conteiner.noSelection 
            a(href="files/Ежедневник учета доходов и расходов. Порядок в финансах.pdf" download="" title="Ежедневник учета доходов и расходов") Ежедневник учета доходов и расходов
            a(href="files/Ежедневник учета доходов и расходов. Порядок в финансах.pdf" download="" title="Ежедневник учета доходов и расходов")
                img( class="unloading__img", src="img/unloadingPage/Ежедневник.jpg", alt="Ежедневник учета доходов и расходов")
        .unloading-content-conteiner.unloading-content-telegram.noSelection  
            h4 Заходи в наш закрытый чат
            div.unloading-content-conteiner__wrapper
                button.unloading-content-conteiner__button.noSelection
                    a(href="https://t.me/+tGTSIby2Jtw3NzFi" target="_blank" rel="nofollow noopener noreferrer")  Телеграм


