doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Финансы в дело
        link(rel="stylesheet" href="css/style.min.css")
    body 
        .wrapper
            .general
                .container
                    include components\header\header.pug
                    main.main
                        section.solidBack
                            include components\presentation\presentation.pug
                        section
                            include components\services\services.pug
                        section.solidBack
                            include components\gift\gift.pug
                        section
                            include components\conviction\conviction.pug
                        section.solidBack
                            include components\description\description.pug
                        section
                            include components\questions\questions.pug
                        //- section.solidBack
                        //-     include components\feedbackSlider\feedbackSlider.pug
                        //- section
                        //-     include components\aboutMe\aboutMe.pug
                        //- section.space
        script(src="js/app.min.js")
        