
* {
    box-sizing: border-box
}

html {
    // font-family: Roboto;
    // font-family: Lobster;
    font-size: 23px;
    line-height: 1.2;
    letter-spacing:0.04em;
    @media screen and (max-width: $smart) {
        font-size: 20px;
    }

}
.wrapper {
    overflow: hidden;
}
.container {
    width: 1240px;
    margin: auto;
    overflow: hidden;
    @media (max-width: 1240px) {
        width: 100vw;
    }
}
// button {
//     //Отменяем выделение текста в кнопках
//     -webkit-user-select: none;
//     /* user-select -- это нестандартное свойство */

//     -moz-user-select: none;
//     /* поэтому нужны префиксы */

//     -ms-user-select: none;
// }
.noSelection {
    //Отменяем выделение текста в кнопках
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

button {
    & a:active, /* активная/посещенная ссылка */
    a:hover,  /* при наведении */
    a {
    text-decoration: none;
    color: inherit;
    }
}



