

html {
}
.wrapper {
    overflow: hidden;
    // background-color: rgba(0, 0, 0, 1);
    background-image: url(../img/fon/ciferblat-strelka-monety.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    background-size: cover;
}
body {
}
.general__inner {
    display: flex;
    // @media (max-width: 1000px) {
    //     flex-direction: column-reverse;        
    // }
    // @media print {
    //     flex-direction: row;        
    // }
}
.main {
    width: 100%;
    // padding: 20px;
    background-color: $color-pink-transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow: hidden;
    // @media(max-width: 1000px) {
    //     padding: 0px;
    // }
    & section {
        width: 100%;
    }
    // @media (max-width: 1000px) {
    //     width: 100vw;
    // }
    // @media print {
    //     width: 67%;
    // }
}
.solidBack {
    background-color: $color-pink;
}
section {
    padding: 4% 3%;
}
h1 {
    font-size: 30px;
    font-weight: 700;
    @media screen and (max-width: $smart) {
        font-size: 22px;
    }

}
h2 {
    font-size: 32px;
    font-weight: 700;
    @media screen and (max-width: $smart) {
        font-size: 22px;
    }

}
h3 {
    font-size: 28px;
    font-weight: 700;
    @media screen and (max-width: $smart) {
        font-size: 22px;
    }

}
h4 {
    font-size: 28px;
    font-weight: 400;
    @media screen and (max-width: $smart) {
        font-size: 22px;
    }


}
h5 {
    font-size: 24px;
    font-weight: 700;
    @media screen and (max-width: $smart) {
        font-size: 22px;
    }

}


button {
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: 700;
    background-color: $color-red-purple;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    border-radius: 15px;
    outline: 1px solid;
    outline-color: $color-spfir;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);  
    &:hover {
        box-shadow:  0 0 20px $color-red-purple;
        color: #FFF;
    }
    &:active {
        box-shadow:  0 1px 20px rgba(0, 0, 0, 0.2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
    }
    @media screen and (max-width: $smart) {
        font-size: 18px;
    }

}

.space {
    background-color: aqua;
    height: 500px;
}




