.aboutMe {
    &-right {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 500px;
        align-self: flex-start;
        // background-color: gold;
        perspective: 1000px;
        &__front,
        &__back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // height: auto;
            // background-color: green;
            backface-visibility: hidden;
            transition: 1s;

        }
        &__front {
            & .aboutMe__img {
                width: 250px;
                height: auto;
                margin-bottom: 5%;
                cursor: pointer;
                &:hover {
                    animation-name: aTremblingGift;
                    animation-duration: 0.5s;
                    animation-iteration-count: infinite;
                    animation-duration: alternate-reverse;
                }
            }
        }

        &__back {
            // background-color: blue;
            transform: rotateY(180deg);
            & .content-text__list {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                // background-color: goldenrod;
                & button {
                    margin: 5% 0;
                }
            }

        }
        & .aboutMe-right__front_js {
            transform: rotateY(180deg);
        }
        & .aboutMe-right__back_js {
            transform: rotateY(360deg);
        }
    }
}

@keyframes  aTremblingGift {
    0% {
        rotate: 0deg;
        transform-origin: right bottom;
    }
    30% {
        rotate: 10deg;
        transform-origin: left bottom;
        // transform: translateY(-3%);
    }
    70% {
        rotate: -10deg;
        transform-origin: right bottom;
        // transform: translateY(-3%);
    }
    100% {
        rotate: 0;
        transform-origin: right bottom;

    }

}

