.aboutMe.commonToDouble
    .aboutMe-left.commonToDouble-left
        .content-text
            .content-text__header Об авторе.
            .content-text__list 
                ul.list Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia rerum aspernatur error facere eius odit quae asperiores est accusamus et quibusdam sint, deleniti nam modi quod fugiat corporis? At, harum.
                    //- li Для контроля бюджета.
                    //- li Для постановки целей. 
                    //- li Для получения удовлетворения от достижения этих целей.
            //- .content-text__footer И, благодаря планированию, вы сможете ставить перед собой финасовые цели и реализовывать их быстрее.
        button.button.content-button.noSelection  
            a(href="#services") ЗАПИСАТЬСЯ К НЕЙ!
    .aboutMe-right.commonToDouble-right
        .content-text.noSelection.aboutMe-right__front
            img( class="aboutMe__img" src="img/other/present.png", alt="Мое фото")
            .content-text__header Подарок?
            .content-text__list 
                ul.list Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia rerum aspernatur error facere eius odit quae asperiores est accusamus et quibusdam sint, deleniti nam modi quod fugiat corporis? At, harum.
                    //- li Для контроля бюджета.
                    //- li Для постановки целей. 
                    //- li Для получения удовлетворения от достижения этих целей.
            //- .content-text__footer И, благодаря планированию, вы сможете ставить перед собой финасовые цели и реализовывать их быстрее.
        .content-text.aboutMe-right__back 
            .content-text__header Забирай быстрее
            .content-text__list 
                a(href="files/Пример.docx" download="" title="Ljrevtyn djhl")
                    button Скачать файл 1
                a(href="files/Пример.docx" download="" title="Ljrevtyn djhl")
                    button Скачать файл 2
                a(href="files/Пример.docx" download="" title="Ljrevtyn djhl")
                    button Скачать файл 3

            //- .content-text__footer И, благодаря планированию, вы сможете ставить перед собой финасовые цели и реализовывать их быстрее.
